body > #page-container {
    width: 100%;
}

#admin-left {
    margin-top: -20px;
    padding-left: 0;
    margin-left: -15px;
}

#admin-menu {
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #e7e7e7;
}

.nav-inner-sidebar {
    padding: 0% 10%;
    font-size: 12px;
}

.nav-sidebar .cf-active > a, .nav-sidebar .cf-active > a:hover {
    background-color: #428bca;
    color: #fff;
}

.dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-label {
    margin-right: 5px;
}
