/*
 * @file: base.css
 * @author: Petr Kubat <petr.kubat.hb@seznam.cz>
 *
 */

#language .dropdown-menu {
    min-width: 80px;
}

.dropdown-menu button.lang {
    width: 100%;
}

#container > .col-lg-1 {
    width:12%;
}

#container > .col-lg-11 {
    width:88%;
}
