/*
 * @file: base.css
 * @author: Petr Kubat <petr.kubat.hb@seznam.cz>
 *
 */

#language .dropdown-menu {
    min-width: 80px;
}

.dropdown-menu button.lang {
    width: 100%;
}

#container > .col-lg-1 {
    width:12%;
}

#container > .col-lg-11 {
    width:88%;
}

.clear-both {
    clear: both;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e8e8e8;
}

.footer-text {
    line-height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.conf-icon {
    height: auto;
    max-height:100%;
}

#home-avatar {
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
    left: -5px;
    top: -5px;
}

#image-brand {
    padding: 5px;
    margin: 0;
}

#home-brand {
    padding-top: 10px;
}

#home-brand > .fa-home {
    font-size: 1.5em;
}

.js-link {
    cursor: pointer;
    color: #337ab7;
}

.js-link:hover, .js-link:focus {
    color: #23527c;
}

.confla-togglable {
    overflow:hidden;
}

.confla-toggle {
    cursor:pointer;
}

.input-timerange input {
    text-align: center;
}

.required:after {
    color: #e32;
    content: ' *';
}

.tag-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

.icon-link {
  color: #000000;
}

.btn-circle {
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 17px 0;
  border-radius: 40px;
}

.conf-social {
  padding: 20px 0;
}