.panel {
    position: relative;
    left: 33%;
    display: inline-block;
}

.confla-togglable {
    width:100%;
    position:relative;
    padding:0;
    height:0;
    overflow:hidden;
}

.confla-toggle {
    cursor:pointer;
}

.admin-page form {
    min-width: 100%;
    padding: 15px;
}

.admin-page .fa-caret-down, .admin-page .fa-caret-up {
    float:right;
}

.alert .toggled {
    padding-right: 15px;
    margin: 10px 10px 10px;
}

.existing-events {
    padding-top: 5px;
    border-top-width: 1px;
    border-top-color: #a94442;
    border-top-style: solid;
}

.event-json {
    display: none;
}
