body > #page-container, .conference {
    width: 100%;
    padding: 0;
}

.conference > .container {
    padding-bottom: 20px;
}

.conf-name {
    text-align: center;
}

.conference:nth-of-type(2n) {
    background-color: #e8e8e8;
}

.conference:nth-of-type(2n+1) .btn {
    background-color: #eee;
}

.conf-splash img {
  max-width: 100%;
}