#loginform {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 0;
    padding-bottom: 1em;
    border: solid 2pt #B5B5B5;
    width: 200pt;
    background:white;
}

#loginform form {
    text-align: left;
    margin: auto;
    padding: 0;
    width: 100%;
    display: inline-block;
    background: white;
    border-top: 2pt solid #B5B5B53;
}

#loginform ul {
    list-style: none;
}

#loginform ul li {
    padding-bottom: 5pt;
}

#loginform input[type="text"],
#loginform input[type="password"]
{
    width: 80%;
}

#loginform input[type="submit"] {
    margin: auto;
}

#loginform h1 {
    font-size: 14pt;
}

.error {
    margin-top: 0.5em;
    color: red;
}
