/*
 * @file: main.css
 * @author: Stanislav Laznicka <slaz@seznam.cz>
 *
 */


body {
    padding: 0;
    margin: 0;
    font-family: Cantarell, Arial;
    font-size: 12pt;
    color: #505050;
    background: #F7F7F7;
}

a {
    text-decoration: none;
}

a:visited {
    color:blue;
}

#main {
    width: 100%;
    position: relative;
    text-align: center;
}

#content {
    width: 66%;
    text-align: justify;
    margin: auto;
    margin-top: 1.5em;
}

#header {
    background: white;
    border-bottom: 1pt solid #B5B5B5;
}

#logo {
    float: left;
}

#menu {
    float: right;
    text-align: right;
    width: auto;
    padding-right: 1em;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline;
    float: left;
}

#menu li:hover {
    background-color: #B5B5B5;
}

#menu li:hover a {
    color: white;
}

#menu li a {
    text-decoration: none;
    color: #505050;
    font-weight: bold;
    display: block;
    padding: 1em;
}
