.schedlist-wrap #table-wrap, #dummy-wrap {
    overflow: visible;
}

.schedlist-wrap .events-wrap {
    margin: 0px 0px 0px 50px;
    position: relative;
}

.schedlist-wrap .time {
    float: left;
    font-weight: bold;
}

.schedlist-wrap .event {
    width: auto;
    position: relative;
}

.schedlist-wrap .event-visible {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.schedlist-wrap .topic {
    font-weight: bold;
    line-height: 100%;
}

.schedlist-wrap .item {
    position: static;
    width: auto;
    margin: 5px;
    float:left;
    display: inline-block;
}

#table-wrap > ul, #table-wrap > ul > li {
    list-style-type: none;
}

#table-wrap > ul > li {
    border-bottom: 1px dotted #999;
    padding: 5px 0;
    position: relative;
}

.pop-user {
    max-width: 366px;
}
