.schedlist-wrap #table-wrap, #dummy-wrap {
    overflow: auto;
}

.schedlist-wrap .events-wrap {
    margin: 0px 0px 0px 50px;
    position: relative;
}

.schedlist-wrap .time {
    float: left;
}

.schedlist-wrap .event {
    width: auto;
    margin: 3px;
}

.schedlist-wrap .event-visible {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.schedlist-wrap .topic {
    font-weight: bold;
    line-height: 100%;
}

.schedlist-wrap .item {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

.sched-wrap ul, .sched-wrap li {
    height: auto;
    width: 100%;
}

#table-wrap > ul, #table-wrap > ul > li {
    list-style-type: none;
}

#table-wrap > ul > li {
    border-bottom: 1px dotted #999;
    margin-bottom: 5px;
}
