.speaker-wrap {
    border: 1px solid #b8b8b8;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.grid-wrap {
    text-align: center;
}

body > #page-container {
    width: 100%;
}
