.avatar {
    border: 1px solid #b8b8b8;
    margin-right: 10px;
    float: left;
    /* 100x100 + 1px per border */
    width: 102px;
    height: 102px;
}

.no-avatar {
    text-align: center;
    color: #999;
}

.no-avatar > span {
    font-size: 70px;
}

.speaker-wrap {
    border-top: 1px solid #999;
    padding-bottom: 20px;
}

.speaker-events {
    padding-top: 5px;
    padding-left: 10px;
}

.speaker-info {
    float: left;
}

.clear {
    clear: both;
}
