.avatar {
    border: 1px solid #b8b8b8;
    margin-right: 10px;
    float: left;
    /* 100x100 + 1px per border */
    width: 72px;
    height: 72px;
}

.speaker-wrap {
    border-top: 1px solid #999;
    padding-bottom: 10px;
    padding-top: 10px;
}

.speaker-events {
    padding-top: 5px;
    padding-left: 10px;
}

.speaker-info {
    float: left;
}
