/* drag nalezi do schedule.css
.drag {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    background: yellow;
    padding: 10pt;
    width: 300pt;
    height: 61pt;
    z-index: 2;
}
*/
body > #page-container {
    width: 100%;
}

.display-style h3, .display-style select {
    display: inline;
}

.display-style {
    margin-top: 1em;
}

.sched-wrap {
    padding-top: 1em;
}

.table-dummy {
    height: 1px;
}

th {
    text-align: center;
}

.table {
    width: auto;
    /* already in bootstrap - border-spacing: 0; */
    border-collapse: collapse;
    empty-cells: show;
}

.table * {
    box-sizing: content-box;
}

tr th:first-child,
tr td:first-child {
    width: 50pt;
    border-right: 3px double #ddd;
    text-align: center;
}
tr {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
.table > tbody > tr > td {
    padding: 0;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}

td {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.item {
    width: 200px; /* 166px; */
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 100;
}

.item > .event > .event-visible {
    border: 1px solid #999;
}

.item.empty {
    z-index: auto;
}

.table > tbody > tr > td .item .item-buttons {
    overflow:hidden;
    line-height: normal;
    margin-bottom: 4px;
}

.wrap {
    position: relative;
    padding: 0;
    margin: auto;
    width: 200px;
    height: 100%;
    margin-left: 3px;
    margin-right: 3px;
}
.pop-close {
    float: right;
    cursor: pointer;
    margin-left: 2px;
}
.pop-move-right {
    float: right;
    cursor: pointer;
}
.removesign {
    font-size: 14px;
    float: right;
    cursor: pointer;
}
.editsign {
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.start, .end {
    float: left;
    clear: left;
}
.event {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.spinnerwrap {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

#event-bar > div > div > h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 9px 0;
}

#event-list {
    padding: 5px;
}

#event-list > .event {
    margin-top: 2px;
}

td > .ui-state-hover {
    border-width: 0;
}
.event-visible {
    border: 1px solid #999;
    width: 100%;
    height: 100%;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.event-visible > div {
    clear: both;
}

.topic {
    font-weight: bold;
    line-height: 100%;
}

.speakers {
    line-height: 120%;
}

#filter_input {
    width: 100%;
}

.sched-wrap .pop-user {;
    min-width: 125%;
    left: 0 !important;
}

.drag-help {
    position: absolute;
    opacity: 0.7;
    z-index: 5000;
}

.tag0 {
    background: #d6d6d6;
}

/* Thicken jQuery-UI resizable handle */
.ui-resizable-s {
    bottom: 0;
    height: 7px;
}

.popover {
    max-width: 366px;
}

.popover h2 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 0.5em;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #999;
}

.popover h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
}

.popover-content > div {
    margin-bottom: 0.8em;
}

.popover-content > div:last-child {
    margin-bottom: 0.2em;
}

.popover-content > .fa-spinner {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.popover .speaker {
    float: left;
    margin-right: 0.8em;
}

.popover .clearer {
    margin: 0;
    padding: 0;
    clear: both;
    height:0;
}

.adv-link {
    float:right;
    margin-bottom:3px;
}

#legend {
    padding: 0 5px;
    background-color: #f8f8f8;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

.legend-title {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #e7e7e7;
}

.legend-item a {
    text-decoration: none;
}

.extra-buttons {
    margin: 5px;
}

.extra-buttons > .btn-default {
    margin: 1px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color: #337ab7;
}

.extra-buttons > .btn-default:hover {
    background-color: #eee;
    color: #23527c;
}

.tag-disabled .tag-color {
    background-color: #fff;
}

.tag-disabled .tag-name {
    text-decoration: line-through;
}
