.pop-user > .popover-title {
    display:none;
}

.popover-content > .fa-spinner {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.user-wrap .item {
    cursor: pointer;
}

div.pop-user {
    max-width: 366px;
    visibility: hidden;
    //    margin-top:-100px !important;
}

.event-desc {
    max-height: 200px;
    overflow-y: auto;
}

#page-container > #legend-wrap {
    padding-left: 0;
    margin-top: 98px;
}
