.popover {
    margin-top:-100px !important;
}

.popover > .arrow {
    left: 10% !important;
}

.popover-title {
    display:none;
}

.popover-content > .fa-spinner {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.user-wrap .item {
    cursor: pointer;
}

.pop-user {
    max-width: 366px;
}

.event-desc {
    max-height: 200px;
    overflow-y: auto;
}
