{% load i18n %}

<form id="add_rooms_form" method="post" class="form" role="form" action="{% url 'confla:add_rooms' %}">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title" id="roomsModalLabel">{% trans "Add rooms" %}</h4>
    </div>
    <div class="modal-body">
        {{ rooms_form.as_p }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-default" type="submit">{% trans "Submit" %}</button>
    </div>
</form>
<script>
    var form_options = {
        target: ".modal-content",
        success: function() { }
    }
    $('#add_rooms_form').ajaxForm(form_options);
</script>
