{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        {% if url_id %}
        {{conf.name}}
        {% else %}
        Confla
        {% endif %}
        {% block title %}
        {% endblock%}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'jquery/jquery-ui-1.11.4/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'selectize/selectize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'selectize/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootsidemenu/BootSideMenu.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'confla/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker/css/bootstrap-datepicker3.css' %}" />
    {% block extrastyles %}
    {% endblock %}
</head>

<body {% block bodyattr %}{% endblock %}>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle=collapse
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if url_id %}
            <a id="{% if conf.icon %}image-brand{% endif %}"class="navbar-brand" href="{% url 'confla:splash' url_id %}">
                {% if conf.icon %}
                    <img class="conf-icon" src={{conf.icon.url}}>
                {% else %}
                    {{conf.name}}
                {% endif %}
            </a>
            {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--            <ul class="nav navbar-nav">
                {% if url_id %}
                <li><a href="{% url 'confla:cfp' url_id %}"><strong>{% trans "Call for Participation" %}</strong></a></li>
                {% endif %}
            </ul>
-->
            <ul class="nav navbar-nav navbar-right">
                {% if url_id %}
                
                <li><a href="{% url 'confla:schedule' url_id %}">{% trans "Schedule" %}</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="dropdown" id="user">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        {{ user.get_username }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        {% if perms.confla.can_organize %}
                        {% if url_id %}
                        <li><a href={% url 'confla:dashboard' url_id %}>{% trans "Administration" %}</a></li>
                        {% else %}
                        <li><a href={% url 'confla:org_dashboard' %}>{% trans "Administration" %}</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'confla:profile' 'me' %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url 'confla:logout' %}">{% trans "Logout" %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'confla:login' %}">{% trans "Login" %}</a></li>
                {% endif %}

                <li class="dropdown" id="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ lang.name_local|capfirst }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageMenu">
                        <form action="{% url 'confla:set_language' %}" method="post">
                            {% csrf_token %}
                            {% for language in languages %}
                            <li><button type="submit" name="language" value="{{ language.code }}" class="btn btn-sm btn-default lang" style="border-width:0;" title="{{ language.name_local }}" >
    {{ language.name_local|capfirst }}</button></li>
                            {% endfor %}
                        </form>
                    </ul>
                </li>
                <li>
                    <a id="home-brand" class="navbar-brand" href="{% url 'confla:index' %}">
                        <i class="fa fa-2x fa-home" style="vertical-align: middle;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block extranav %}{% endblock %}
<div class="container" id="page-container">
    {% block content %}
    Welcome to Confla system. Not much to be seen around yet.
    {% endblock %}
</div>
<br/>
<footer class="footer">
    <div class="container">
        <div class="footer-text pull-left">
            &copy; 2015 Confla - conference management system
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="https://github.com/rh-lab-q/conflab"><i class="fa fa-github"></i></a>
            <a class="btn btn-default"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-default"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-default"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="{% static 'jquery/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'jquery/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'selectize/selectize.min.js' %}"></script>
  <script src="{% static 'bootsidemenu/BootSideMenu.js' %}"></script>
  <script src="{% static 'bootbox/bootbox.min.js' %}"></script>
  <script src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'datepicker/locales/bootstrap-datepicker.cs.min.js' %}"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="{% static 'confla/utility.js' %}"></script>
  {% block extrascripts %}{% endblock %}
</body>
</html>
