{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Events{% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/event_list.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        background : {{tag.color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
<div class="event-list">
{% for day, events in days.items %}
    <div class="day-events">
        <div class="confla-toggle">
            <h3>{{ day }}</h3>
        </div>
        <div class="confla-togglable toggled">
        {% for event in events %}
            <div id="event_{{event.id}}" class="event">
                <div class="event-header">
                    <h3 class="topic">
                        {{ event.topic }}
                    </h3>
                </div>
                <div class="event-body">
                    <div class="location">
                        {{event.timeslot.get_start_time}} - {{event.timeslot.room_id.shortname}}
                    </div>
                    {% if event.tags.all %}
                    <div class="tags">
                        {% for tag in event.tags.all %}
                        <div class="tag tag{{tag.id}}">
                            {{tag.name}}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="desc">
                        {{ event.description }}
                    </div>
                    <div class="speakers-wrap">
                        {% if event.speaker.all|length == 0 %}
                        {% elif event.speaker.all|length > 1 %}
                        <h4>Speakers:</h4>
                        {% else %}
                        <h4>Speaker:</h4>
                        {% endif %}
                        {% for speaker in event.speaker.all %}
                        <div class="speaker">
                            <div class="avatar">
                                <a href="{% url 'confla:speaker_list' url_id %}#speaker_{{ speaker.pk }}">
                                    {% if speaker.picture %}
                                    <img src={{speaker.picture|crop:"70x70"}}>
                                    {% else %}
                                    <img style="width: 70px;" src={% static "confla/images/avatar_default.png" %}>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="speaker-info">
                                <a class="confla-link" href="{% url 'confla:speaker_list' url_id %}#speaker_{{ speaker.pk }}">
                                    <b>
                                        {{ speaker.first_name }} {{ speaker.last_name }}
                                    </b>
                                </a>
                                {% if speaker.company %}
                                <div class="company">
                                    {{ speaker.company }}
                                </div>
                                {% endif %}
                                {% if speaker.position %}
                                <div class="position">
                                    {{ speaker.position }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block extrascripts %}
{% endblock %}
