{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/eventedit.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        background : {{tag.color}};
        color: {{tag.fg_color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
<div class="event-edit">
    <h4>Events:</h4>
    {% for event in event_list %}
    <div scheduled={{event.is_scheduled}} event-id={{event.id}} class="event {{event|tag_class}}" style="float:left">
        <div class="topic">{{event.topic}}</div>
    </div>
    {% endfor %}
    <div style="clear:both"></div>
    {% include_modal event %}
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'confla/eventedit.js' %}"></script>
<script class="js-setup">
var users = {{ user_list|safe }};
</script>

{% endblock %}
