{% load i18n %}
{% load confla_filters %}

<h2>{{ event.topic }}</h2>
<span class="event-time">{{ event.timeslot.get_start_time }} - {{ event.timeslot.get_end_time }}</span>
{% if event.description %}
<h3>{% trans "Description:" %}</h3>
<div class="event-desc">{{ event.description }}</div>
{% endif %}
{% if event.speaker.all|length %}
<div class="speakers"><h3>{% trans "Speaker(s):" %}</h3>
    {% for speaker in event.speaker.all %}
    <div class="speaker">
        {{ speaker.first_name }} {{ speaker.last_name }}{% if not forloop.last %}, {% endif %}
    </div>
    {% endfor%}
    <div class="clearer"></div>
</div>
{% endif %}
{% if event.tags.all|length %}
<div class="tags"><h3>{% trans "Tags:" %}</h3>
    {% for tag in event.tags.all %}
    <span class="tag tag{{tag.id}}">{{tag.name}}</span>
    {% endfor %}
</div>
{% endif %}
{% if event.reqs %}
<h3>{% trans "Prerequisites:" %}</h3>
<div class="reqs">{{ event.reqs }}</div>
{% endif %}

{% if user.is_authenticated %}

{% if event|is_favorite:user %}
<i class="fa fa-bookmark" aria-hidden="true"></i>
{% else %}
<i class="fa fa-bookmark-o" aria-hidden="true"></i>
{% endif %}

{% endif %}