{% extends "confla/base.html" %}
{% load i18n %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/index.css' %}" />
{% endblock %}

{% block content %}
<div class="confswrap">
    {% for conf in conf_list %}
    {%if conf.active %}
    <div class="conference">
        <div class="container">
            <h2 class="conf-name">{{conf.name}}</h2>
            <div class="conf-splash col-xs-6 col-md-4">
                {% if conf.splash %}
                <img src={{conf.splash.url}} alt="splash">
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="conf-date">

{% if conf.start_date == conf.end_date %}
<h3>{{conf.end_date|date:"j. E Y"}}</h3>
{% else %}
  {% if conf.start_date|date:"y-m" == conf.end_date|date:"y-m" %}
<h3>{{conf.start_date|date:"j."}} - {{conf.end_date|date:"j. E Y"}}</h3>
  {% else %}
<h3>{{conf.start_date|date:"j. E Y"}} - {{conf.end_date|date:"j. E Y"}}</h3>
  {% endif %}
{% endif %}
                    
                    
                    
                </div>
                <div class="conf-about">
                    {% if conf.about %}
                    <p>{{conf.about|linebreaks}}</p>
                    {% endif %}
                </div>
                <div class="btn-group">
                    <a href={% url 'confla:splash' conf.url_id %} class="btn btn-default">{% trans "Details" %}</a>
                    {% if conf.timeslot_set.all and conf.active_schedule %}
                    <a href={% url 'confla:schedule' conf.url_id %} class="btn btn-default">{% trans "Schedule" %}</a>
                    {% endif %}
                    {% if conf.cfp_open %}
                    <a href={% url 'confla:cfp' conf.url_id %} class="btn btn-default">{% trans "Submit talk" %}</a>
                    {% endif %}
                    {% if conf.web %}
                    <a href="{{ conf.web }}" class="btn btn-default">{% trans "Website" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
