{% extends "confla/base.html" %}
{% load staticfiles %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/login.css' %}" />{%endblock %}
{% block title %}Login to !!CONFERENCE_NAME!!{% endblock %}

{% block content %}
<div id="loginform"><h1>User Login</h1>
    <form action="{% url 'confla:process_login' %}" method="post">
        {% csrf_token %}
        <ul>
            <li><label for="login">Username:</label></li>
            <li><input type="text" name="login" id="login" /></li>
            <li><label for="password">Password:</label></li>
            <li><input type="password" name="password" id="password" /></li>
            <li><input type="submit" value="Log in"/></li>
        </ul>
        <input type=hidden name="next" value="{{ request.GET.next }}">
    </form>
    <a href="{% url 'confla:register' %}">Not registered yet?</a>
    {% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}
</div>
{% endblock %}
