{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "Login" %} {% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/login.css' %}" />
{% endblock %}
{% block content %}
    <form class="form-signin" action="{% url 'confla:process_login' %}" method="post">
        <h2 class="form-signin-heading">{% trans "User Login" %}</h2>
        {% csrf_token %}
        <input type=hidden name="next" value="{{ request.GET.next }}">
        <label for="id_username" class="sr-only">{% trans Username %}</label>
        {{ form.username }}
        <label for="password" class="sr-only">{% trans Password %}</label>
        {{ form.password }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
        <div class="register_prompt"><a href="{% url 'confla:register' %}">{%trans "Not registered yet?" %}</a></div>
        {% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}
        {% if request.GET.next %}<div class="error">{% trans "You must be logged in!" %}</div>{% endif %}
    </form>
</div>
{% endblock %}
