{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Places{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
{% endblock %}


{% block content %}

<ul>
{% for place in conf.geopoints.all %}
  <li> <a href="http://openstreetmap.org/#map=14/{{ place.latitude }}/{{ place.longitude }}"> {{ place.name }}</a> </li>
{% endfor %}
</ul>


        <div id="map" style="width: 100%; height: 300px; border: 0; margin: 0;"></div>
        <script src={% static 'leaflet/leaflet.js' %}></script>
        <script type="text/javascript">
            map = new L.Map('map');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>; contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom:4, maxZoom: 18, attribution: osmAttrib});

        {% if conf.gps %}
            map.setView([{{ conf.gps }}], 15);
        {% endif %}
            map.addLayer(osm);

{% for place in conf.geopoints.all %}
            L.marker(
              [{{ place.latitude }},{{ place.longitude}}],
              {
                icon: L.icon({
                  iconUrl: "{{ place.icon.icon.url }}",
                  iconAnchor: [{{ place.icon.xAnchor }}, {{ place.icon.yAnchor }}]
                })
              }
            ).addTo(map).bindPopup(
              "<b> {{ place.name }}</b> <br/>{{ place.description }}"
            );
{% endfor %}

        </script>




{% endblock %}

{% block extrascripts %}
{% endblock %}
