{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/ownforms.css' %}" />
{% endblock %}

{% block content %}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="roomsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
<form action="{% url 'confla:timetable' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'confla:add_rooms' %}" data-toggle="modal" data-target="#modal" title="Add rooms" data-tooltip>Add rooms</a>
    <button class="btn btn-default" type="submit">{% trans "Submit changes" %}</button>
</form>
{% if error_message %} <p>{{ error_message }}</a> {% endif %}
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'confla/datetime.js' %}"></script>
{% endblock %}
