{% extends "confla/base.html" %}
{% load confla_filters %}
{% load staticfiles %}
{% load i18n %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/ownforms.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'confla:profile' url_user.username %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "About" %}
                </div>
                <div class="panel-body">
                    <label for="id_company">{% trans "Company" %}</label>
                            {{ form.company }}
                    <label for="id_position">{% trans "Position" %}</label>
                            {{ form.position }}
                    <label for="id_web">{% trans "Website" %}</label>
                            {{ form.web }}
                    <label for="id_facebook">{% trans "Facebook" %}</label>
                            {{ form.facebook }}
                    <label for="id_linkedin">{% trans "Linkedin" %}</label>
                            {{ form.linkedin }}
                    <label for="Twitter">{% trans "Twitter" %}</label>
                            {{ form.twitter }}
                    <label for="id_google_plus">{% trans "Google+" %}</label>
                            {{ form.google_plus }}
                    <label for="id_github">{% trans "Github" %}</label>
                            {{ form.github }}
                    <label for="id_bio">{% trans "About me" %}</label>
                            {{ form.bio }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                   {% trans "Personal information" %}
                </div>
                <div class="panel-body">
                    <label for="id_first_name">{% trans "First name" %}</label>
                        {{ form.first_name }}
                    <label for="id_last_name">{% trans "Last name" %}</label>
                        {{ form.last_name }}
                    <label for="id_phone">{% trans "Telephone number" %}</label>
                        {{ form.phone }}
                    <br/>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                       {% trans "Avatar" %}
                </div>
                <div class="panel-body">
                    {{ form.picture }}
                    <br/>
                    {% if url_user.picture %}
                    <img src={{url_user.picture|crop:"100x100"}}>
                    {% else %}
                    <img style="width: 100px;" src={% static "confla/images/avatar_default.png" %}>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                       {% trans "Emails" %}
                </div>
                <div class="panel-body">
                    <div class="email-wrapper" style="border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px">
                        {% for email in url_user.emailadress_set.all %}
                        <div class="clear-both">
                            {{ email.address }}
                            <span style="float:right;">
                                {% if email.address == url_user.email %}
                                <b>Primary</b>
                                {% else %}
                                    {% if email.is_active %}
                                <a href={% url 'confla:set_primary_email' url_user.username email.id %}>Make primary</a>
                                    {% else %}
                                Inactive
                                    {% endif %}
                                {% endif %}
                                <a href={% url 'confla:delete_email' url_user.username email.id %}><i class="pop-close fa fa-close fa-lg" title="Remove email" style="color: red"></i></a>
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="clear-both">
                        <label for="id_email">{% trans "New Address" %}</label>
                        <div class="input-group">
                            <input type="email" name="new_email" maxlength="254" id="id_email" class="form-control input-sm">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit" name="submit-email">{% trans "Add email" %}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=col-md-1>
            <button class="btn btn-default" type="submit" name="submit-profile">{% trans "Submit changes" %}</button>
        <div/>
        <div class=col-md-11>
            {% if error_message %} <p>{{ error_message }}</a> {% endif %}
        </div>
    </div>
    </form>


                    {% get_language_info_list for LANGUAGES as languages %}
                    {% get_language_info for LANGUAGE_CODE as lang %}
                        <form action="{% url 'confla:set_language' %}" method="post">
                            {% csrf_token %}
                            <select name="language" class="form-control">
                            {% for language in languages %}
                              <option value="{{ language.code }}" {%if lang.code == language.code  %}  {% endif %}>{{ language.name_local|capfirst }}</option>
                            {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-default" value="{% trans "Set language" %}"/>
                        </form>

</div>
{% endblock %}
