{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/ownforms.css' %}" />
{% endblock %}

{% block content %}
<div class="container" style="width:66%; margin-left:auto; margin-right:auto">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Reset password" %}
            </div>
            <div class="panel-body">
                <form action="{% url 'confla:reset_password' %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-default" type="submit"/>{% trans "Submit" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
