{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Timetable{% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/schedlist.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        background : {{tag.color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="schedlist-wrap">
<link rel="stylesheet" type="text/css" href="{% static 'confla/usertable.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'confla/schedlist.css' %}" />
    {% for day in time_list %}
    <div class="day-wrap">
        <h4>{{day.day}}</h4>
        <div id="table-wrap">
            <ul>
            {% for t in day.list %}
            <li><div class="time">{{t.short}}</div>
            <div class="events-wrap">
            {% for s in t.slots %}
            {% if s.event_id %}
            {% with e=s.event_id %}
                <div class="item">
                    <div class="event" event-id={{e.id}}>
                        <div class="event-visible {{e|tag_class}}">
                            <p class="topic">{{e.topic}}</p>
                            <p class="author">{{e.get_users}}</p>
                        </div>
                        <div class="pop-title"style="display:none">
                            <span>{% trans "Edit event" %}</span>
                            <span class="pop-close glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="pop-content" style="display:none">
                        </div>
                </div>
            </div>
            {% endwith %}{# with e=s.event_id #}
            {% endif %}{# if s.event_id #}
            {% endfor %}{# for s in t.slots #}
            </div>
            <div style="clear: both"></div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidenav %}

{% endblock %}
