{% extends "confla/base.html" %}
{% load staticfiles %}
{% load confla_filters %}
{% block title %}Schedule{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'confla/timetable.css' %}" />
    <script type="text/javascript" src="{% static 'redips/redips-drag-min.js' %}"></script>
{% endblock %}
{% block bodyattr %}onload="REDIPS.drag.init()"{% endblock %}
{% block content%}
    <div id="drag">
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                {% for r in room_list %}
                <th>{{ r.shortname }}</th>
                {% endfor %}
            </tr>
        </thead>
    <tbody>
        {% for t in time_list %}
            <tr>
                <td>{{t}}</td>
                {% for r in room_list %}
                {% with s=r|get_slot:t %}
                {% if s %}
                <td align=center rowspan={{ s.length|div:10 }}>Timeslot {{t}}<br/>Room {{r.shortname}}</td>
                {% elif r|is_free:t %}
                <td></td>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>


{% endblock %}
