{% extends "confla/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="slot_edit">
    <form>
        {% csrf_token %}
        {% for c in config_list %}
        <fieldset>
            <legend>{{c.slot_len}} minutes </legend>
            <div class="fieldset-content">
                <div class="form-group">
                    <label>Rooms:</label>
                    <select multiple class="form-control room-select">
                        {% for room in rooms %}
                            {% if room in c.rooms %}
                            <option selected="selected" value={{room.shortname}}>{{room.shortname}}</option>
                            {% endif %}
                        {% endfor %}
                    <select>
                </div>
                <div class="form-group">
                    <label>Event length (mins):</label>
                    <input class="form-control" id="slotLength" value={{c.slot_len}}></input>
                </div>
            </div>
        </fieldset>
        {% endfor %}
        <fieldset>
            <legend><a href="#" onclick='new_config()'>[+] New configuration</a></legend>
            <div class="fieldset-content" style="display:none">
                <div class="form-group">
                    <label>Rooms:</label>
                    <select class="form-control room-select">
                    <select>
                </div>
                <div class="form-group">
                    <label>Event length (mins):</label>
                    <input class="form-control" id="slotLength" placeholder="Length"></input>
                </div>
            </div>
        </fieldset>
        <button type="button" class="btn" onclick="save_form()">Save</button>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'confla/edit_slot.js' %}"></script>
<script class="js-setup">
var form_action = "{% url 'confla:rooms_conf_save' url_id %}";
</script>
{% endblock %}
