{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Speakers{% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/speaker_list.css' %}" />
{% endblock %}

{% block content %}
<div class="speaker-list">
    {% for user in speakers %}
    <div id="speaker_{{user.pk}}" class="speaker-wrap">
      {% include 'confla/user_detail.html' %}
            <div class="speaker-events clear-both">
                {% for event in user|filter_events:conf %}
                <div class="speaker-event">
                    {{ event.timeslot.start_time|date:"D" }}, {{ event.timeslot.get_start_time }} - {{ event.timeslot.get_end_time }}: 
                    <a href="{% url 'confla:event_list' url_id %}#event_{{ event.id }}">{{ event.topic }}</a>
                </div>
                {% endfor %}
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
