{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Speakers{% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/speaker_grid.css' %}"/>
{% endblock %} 

{% block content %}
<div class="grid-wrap">
{% for speaker in speakers %}
    {% if speaker.picture %}
    <div class="speaker-wrap">
        <a href="{% url 'confla:speaker_list' url_id %}#speaker_{{speaker.pk}}">
            <img src={{speaker.picture|crop:"150x150"}} alt="{{speaker.first_name}} {{speaker.last_name}}" title="{{speaker.first_name}} {{speaker.last_name}}">
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
