{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Timetable{% endblock %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static 'confla/timetable.css' %}" />
{% endblock %}

{% block extranav %}
<div style="position: fixed; left: 5px; top: 37%; width: auto; height: 2em;;">
    <button type="button" class="btn btn-success" onclick="timetableSubmit('.table'); window.location.href={% url 'confla:thanks' %}">Save</button>
</div>
{% endblock %}
{% block content %}
{% csrf_token %}
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            {% for r in room_list %}
            <th>{{ r.room.shortname }}</th>
            {% endfor %}
        </tr>
    </thead>
<tbody>
    {% for t in time_list %}
        <tr>
            <td>{{t}}</td>
            {% for r in room_list %}
                <td>
                <div class="wrap">
                {% with s=r|get_slot:t %}
                {% if s %}
                    <div class="item">
                        <div class="removesign">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                        <span class="start">Starts at: {{t}}</span>
                        <span class="end">Ends at: {{s.get_end_time}}</span>
                    </div>
                {% endif %}
                {% endwith %}
                </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}

{% block extrascripts %}<script type="text/javascript" src="{% static 'confla/timetable.js' %}"></script>
{% endblock %}
