{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Timetable{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/timetable.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        background : {{tag.color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block extranav %}
{% if perms.confla.can_organize %}
<div id="event-bar" style="display:none">
    <h3>List of events</h3>
    <input id="filter_input" class="form-control input-sm" type="text" value="" placeholder="Filter" />
    <div class="list-group" id="event-list">
        {% for e in event_list %}
        <div class="event">
            <div class="event-visible {{e|tag_class}}">
                <p class="topic">{{e.topic}}</p>
                <p class="author">{{e.get_users}}</p>
            </div>
            <div class="pop-title"style="display:none">
                <span>{% trans "Edit event" %}</span>
                <span class="pop-close glyphicon glyphicon-remove"></span>
            </div>
            <div class="pop-content" style="display:none">
                <form method="post" action="{% url 'confla:saveEvent' %}">
                    {% csrf_token %}
                    {% with form=e|get_event_form %}
                    <input type="hidden" name="event_id" value={{ e.id }} />
                    {{ form.topic }}
                    {{ form.description }}
                    {{ form.speaker }}
                    {{ form.tags }}
                    {% endwith %}
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div style="position: fixed; left: 5px; top: 37%; width: auto; height: 2em;;">
    <button type="button" class="btn btn-success edit" onclick="timetableEdit()">Edit</button>
    <button type="button" class="btn btn-success save" onclick="timetableSubmit('.table')" style="display:none">Save</button>
</div>
{% endif %}
{% endblock %}

{% block content %}
<ul class='nav nav-tabs'>
    <li class="active"><a href="#">View schedule</a></li>
    <li><a href="#">Edit schedule</a></li>
    <li><a href="#">New schedule</a></li>
</ul>
{% csrf_token %}
<div class="sched-wrap">
    {% for day in time_list %}
    <div class="day-wrap">
        <h4>{{ day.day }}</h4>
        <div id="dummy-wrap">
            <div class="table-dummy"></div>
        </div><!-- dummy-wrap -->
        <div id="table-wrap">
        <table class="table" tdelta={{conf.timedelta}}>
            <thead>
                <tr>
                    <th>{% trans "Time" %}</th>
                    {% for r in room_list %}
                    <th>{{ r.room.shortname }}</th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            {% for t in day.list %}
                <tr>
                    <td>{{ t.short }}</td>
                    {% for s in t.slots %}
                    <td>
                        <div class="wrap">
                        {% if s %}
                        <div class="item" deltalen={{s.length}} slot-id={{s.id}} data-toggle="popover">
                            <div class="item-buttons" style="display:none">
                                <div class="removesign">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="editsign">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                                <div class="movesign">
                                    <span class="glyphicon glyphicon-move"></span>
                                </div>
                            </div>
                            <span class="start" style=" display:none">Starts at: {{t.short}}</span>
                            <span class="end" style=" display:none">Ends at: {{s.get_end_time}}</span>
                            {% if s.event_id %}
                            {% with e=s.event_id %}
                            <div class="event">
                                <div class="event-visible {{e|tag_class}}">
                                    <p class="topic">{{e.topic}}</p>
                                    <p class="author">{{e.get_users}}</p>
                                </div>
                                <div class="pop-title"style="display:none">
                                    <span>{% trans "Edit event" %}</span>
                                    <span class="pop-close glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="pop-content" style="display:none">
                                    <form method="post" action="{% url 'confla:saveEvent' %}">
                                        {% csrf_token %}
                                        {% with form=e|get_event_form %}
                                        <input type="hidden" name="event_id" value={{ e.id }} />
                                        {{ form.topic }}
                                        {{ form.description }}
                                        {{ form.speaker }}
                                        {{ form.tags }}
                                        {% endwith %}
                                    </form>
                                </div>
                            </div>
                            {% endwith %}
                            {% else %}
                            <div class="event">
                                <div class="event-visible">
                                    <p class="topic"></p>
                                    <p class="author"></p>
                                </div>
                                <div class="pop-title"style="display:none">
                                    <span>{% trans "Add event" %}</span>
                                    <span class="pop-close glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="pop-content" style="display:none">
                                    <form method="post" action="{% url 'confla:saveEvent' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="event_id" value="0" />
                                    {{ event_create.topic }}
                                    {{ event_create.description }}
                                    {{ event_create.speaker }}
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div><!-- table-wrap -->
</div><!-- day-wrap -->
{% endfor %}
</div>

{% endblock %}

{% block sidenav %}

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'confla/timetable.js' %}"></script>
<script type="text/javascript">
var tags = {{ tag_list|safe }}
var users = {{ user_list|safe }};
var form = '{{event_create.topic|escapejs}}{{event_create.description|escapejs}}{{event_create.speaker|escapejs}}{{event_create.tags|escapejs}}';
var form_action = "{% url 'confla:saveEvent' %}";
</script>
{% endblock %}
