{% extends "confla/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}
{% block title %}Timetable{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/timetable.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'confla/schedlist.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        background : {{tag.color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
{% if perms.confla.can_organize %}
<ul class='nav nav-tabs'>
    <li class="active"><a href="{% url 'confla:schedule' %}">View schedule</a></li>
    <li><a href="{% url 'confla:adminsched' %}">Edit schedule</a></li>
    <li><a href="#">New schedule</a></li>
</ul>
{% endif %}
{% csrf_token %}
<div class="display-style">
<h3>{% trans "Display as" %}
<select class="sel-view form-control" onchange="changeView()" style="width:100px">
    <option selected="selected">{% trans "Grid" %}</option>
    <option>{% trans "List" %}</option>
</select></h3>
</div>
<div class="sched-wrap">
    {% for day in time_list %}
    <div class="day-wrap">
        <h4>{{ day.day }}</h4>
        <div id="dummy-wrap">
            <div class="table-dummy"></div>
        </div>
        <div id="table-wrap">
        <table class="table" tdelta="{{conf.timedelta}}">
            <thead>
                <tr>
                    <th>{% trans "Time" %}</th>
                    {% for r in room_list %}
                    <th>{{ r.room.shortname }}</th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            {% for t in day.list %}
                <tr>
                    <td>{{ t.short }}</td>
                    {% for s in t.slots %}
                    {% if s %}
                    <td>
                    <div class="wrap">
                    {% if s.event_id %}
                        <div class="item" style="height: {{ s.length|set_height:"31"}}">
                        {% with e=s.event_id %}
                            <div class="event" style="position:absolute">
                                <div class="event-visible {{e|tag_class}}">
                                    <p class="topic">{{e.topic}}</p>
                                    <p class="author">{{e.get_users}}</p>
                                </div>
                                <div class="pop-title" style="display:none">
                                    <span>{% trans "Edit event" %}</span>
                                    <span class="pop-close glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="pop-content" style="display:none">
                                </div>
                            </div>
                        {% endwith %}
                        </div>
                    {% endif %}
                    </div><!-- wrap -->
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'confla/userview.js' %}"></script>
{% endblock %}

{% block sidenav %}

{% endblock %}
