{% load staticfiles %}
{% load i18n %}
{% load confla_filters %}

<noscript>
    <!-- Hide tabs, show schedule for every day with javascript off -->
    <style type='text/css'>
        .display-style, #sched-tabs {
            display:none;
        }
        .day-wrap, .day-wrap > h4 {
            display:inline !important;
        }
    </style>
</noscript>

<div class="user-wrap">
        <div class="display-style">
        <h3>{% trans "Display as" %}
        <select class="sel-view form-control" onchange="changeView()" style="width:100px" autocomplete="off">
            <option selected="selected">{% trans "Grid" %}</option>
            <option>{% trans "List" %}</option>
        </select></h3>
        </div>
    <div class="sched-wrap">
        <link rel="stylesheet" type="text/css" href="{% static 'confla/usertable.css' %}" />
        <ul id="sched-tabs" class='nav nav-tabs'>
            {% for day in time_list %}
            <li {% if forloop.first %} class="active" {% endif %} day-id={{ forloop.counter }}><a href="#">{{ day.day }}</a></li>
            {% endfor %}
        </ul>
        {% for day in time_list %}
        <div class="day-wrap" day-id={{ forloop.counter }} {% if not forloop.first %} style="display:none" {% endif %}>
            <h4 style="display:none">{{ day.day }}</h4>
            <div id="table-wrap">
            <table class="table" tdelta="{{conf.timedelta}}">
                <thead>
                    <tr>
                        <th>{% trans "Time" %}</th>
                        {% for r in room_list %}
                        <th>{{ r.room.shortname }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody>
                {% for t in day.list %}
                    <tr>
                        <td>{{ t.short }}</td>
                        {% for s in t.slots %}
                        {% if s %}
                        <td>
                        <div class="wrap">
                        {% if s.event_id %}
                            <div class="item" style="height: {{ s.length|set_height:"31"}}">
                            {% with e=s.event_id %}
                            <div class="event" style="position:absolute" event-id={{e.id}}>
                                    <div class="event-visible {{e|tag_class}}">
                                        <div class="topic">{{e.topic}}</div>
                                        <div class="speakers">
                                        {% for speaker in e.speaker.all %}
                                        <span class="speaker">
                                            {{speaker.get_fullname}}{% if not forloop.last %}, {% endif %}
                                        </span>
                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            {% endwith %}
                            </div>
                        {% endif %}
                        </div><!-- wrap -->
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
