{% extends "confla/base.html" %}
{% load confla_filters %}

{% load i18n %}
{% load static %}

{% block extrastyles %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<h2>{% trans "My profile" %}</h2>

   {% include 'confla/user_detail.html' %}
 
            <div style="clear:both;">&nbsp;</div>


<a href={% url 'confla:profile' user.username %} class="btn btn-default"> {% trans "Edit profile" %}</a>

<h2>{% trans "My talks" %}</h2>

{% for conf in conf_list %}
  <h3>{{ conf.name }}</h3>
  {% for event in speaker_events %}
    {% if event.conf_id == conf %}
      <a href="#">{{ event.topic }}</a>
      {% if event.timeslot.start_time %}
        {{ event.timeslot.start_time }}
      {% else %}
        Not scheduled
      {% endif %}
    {% endif %}
    <br/>
  {% endfor %}
{% endfor %}

<h2> {% trans "Personal schedules" %} </h2>

{% for conf in confs %}
  {{ conf.name }}  <br/>

  {% for favorite in favorites %}
    {% if favorite.event.conf_id == conf %}
      {{ favorite.event.timeslot.room_id.shortname }}
      {{ favorite.event.timeslot.get_start_time }} - {{ favorite.event.timeslot.get_end_time }}
      {{ favorite.event }} <br/>
    {% endif %}
   {% endfor %}

   <hr/>

{% endfor %}


<h2></h2>

{% endblock %}
