{% load static %}
{% load i18n %}
{% load confla_filters %}
                        <div class="speaker">
                            <div class="avatar">
                                    {% if user.picture %}
                                    <img src={{user.picture|crop:"70x70"}} alt="user picture"">
                                    {% else %}
                                    <img style="width: 70px;" src={% static "confla/images/avatar_default.png" %} alt="user picture">
                                    {% endif %}
                            </div>
                            <div class="speaker-info">
                                    <b>
                                        {{ user.first_name }} {{ user.last_name }}
                                    </b>
                                {% if user.company %}
                                <div class="company">
                                    {{ user.company }}
                                </div>
                                {% endif %}
                                {% if user.position %}
                                <div class="position">
                                    {{ user.position }}
                                </div>
                                {% endif %}
{% if user.web %}
<a href="{{ user.web }}" class="icon-link"><i class="fa fa-globe"></i></a>
{% endif %}

{% if user.facebook %}
<a href="{{ user.facebook }}" class="icon-link"><i class="fa fa-facebook"></i></a>
{% endif %}

{% if user.twitter %}
<a href="{{ user.twitter }}" class="icon-link"><i class="fa fa-twitter"></i></a>
{% endif %} 

{% if user.linkedin %}
<a href="{{ user.linkedin }}" class="icon-link"><i class="fa fa-linkedin"></i></a>
{% endif %}

{% if user.github %}
<a href="{{ user.github }}" class="icon-link"><i class="fa fa-github"></i></a>
{% endif %}

{% if user.diaspora %}
<a href="{{ user.diaspora}}" class="icon-link"><i class="fa fa-link"></i></a>
{% endif %}


                            </div>
                        </div>
