{% extends "confla/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/adminview.css' %}" />
<div class="col-xs-3 col-md-2 col-lg-1" id="admin-left">
    <div id="admin-menu">
    {% block admin_menu %}
        {% include "confla/admin/menu.html" with active="overview" %}
    {% endblock %}
    </div>

    {% block bott_menu %}
    {% endblock %}
</div>
<div class="admin-page col-xs-9 col-md-10 col-lg-11">
{% block admin_page %}

{% if url_id %}

<h1> {% trans "Dashboard" %} </h1>
Events is sidebar: XYZ | XYZ|minutes <br/>
Events in schedule: {{ events|length }} | events|minutes <br/>
Speakers in schedule: {{ speakers|length }} <br/>
<br/>

<table class="table table-striped table-hover">
  <tr>
    <th> {% trans "Tag" %} </th>
    <th> {% trans "#" %}</th>
    <th> {% trans "Duration" %}</th>
    <th> {% trans "#" %}</th>
    <th> {% trans "Duration" %}</th>
  </tr>
{% for tag in tags %}
  <tr>
    <td> {{ tag }} </td>
    <td> tag.scheduled|length </td>
    <td> tag.scheduled|minutes </td>
    <td> tag.not_scheduled|length </td>
    <td> tag.not_scheduled|minutes </td>
  </tr>
{% endfor %}
</table>

{% else %}

<h1> {% trans "Dashboard" %} </h1>

{% trans "Conferences:" %} {{ conf_list|length }} <br/>
{% trans "Users:" %} {{ speakers|length }}

{% endif %}

{% endblock %}
</div>
{% endblock %}
