{% extends "confla/admin/admin_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load confla_filters %}
{% block title %}Create Conference{% endblock %}

{% if conf %}
{% block admin_menu %}
    {% include "confla/admin/menu.html" with active="edit" %}
{% endblock %}
{% endif %}

{% block admin_page %}
<div class="container">
{% if form.errors %}
    {{form.errors}}
{% endif %}
<form class="conf-form" action=
    {% if url_id %}
    {% url 'confla:save_conf_urlid' url_id %}
    {% else %}
    {% url 'confla:save_conf' %}
    {% endif %}
     method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Basic Information" %}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="id_name">{% trans "Conference Name" %}</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="id_url_id">{% trans "URL Identifier" %}</label>
                    {{ form.url_id }}
                </div>
                <div class="form-group">
                    <label for="id_rooms">{% trans "Rooms" %}</label>
                    {{ form.rooms }}
                </div> 
                <div class="form-group">
                    <label class="checkbox-inline" for="id_active">{{form.active}} {% trans "Public" %}</label>
                </div> 
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Date and Time" %}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="conf-date">{% trans "Start/End Date" %}</label>
                    <div id="conf-date" class="input-group input-daterange">
                        {% with form.start_date.value|default_if_none:"" as start %}
                        <input name="start_date" type="text" class="form-control" value={{start|date:"Y-m-d"}}>
                        {% endwith %}
                        <span class="input-group-addon">to</span>
                        {% with form.end_date.value|default_if_none:"" as end %}
                        <input name="end_date" type="text" class="form-control" value={{end|date:"Y-m-d"}}>
                        {% endwith %}
                    </div>

                </div>
                <div class="form-group">
                    <label for="conf-time">{% trans "Start/End Time" %}</label>
                    <div id="conf-time" class="input-group input-timerange">
                        {% with form.start_time.value|default_if_none:"" as start %}
                        <input name="start_time" type="text" class="form-control" value={{start|time:"H:i"}}>
                        {% endwith %}
                        <span class="input-group-addon">to</span>
                        {% with form.end_time.value|default_if_none:"" as end %}
                        <input name="end_time" type="text" class="form-control" value={{end|time:"H:i"}}>
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="id_timedelta">{% trans "Minutes per slot" %}</label>
                        {{ form.timedelta }}
                    </div>
                    <div class="form-group col-md-8">
                        <label for="conf-timezone">{% trans "Timezone" %}</label>
                        <select name="timezone" class="form-control input-sm"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Submission opened" %}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="conf-date">{% trans "Start/End Date" %}</label>
                    <div id="conf-date" class="input-group input-daterange">
                        {% with form.cfp_start.value|default_if_none:"" as cfp_start %}
                        <input name="cfp_start" type="text" class="form-control" value={{cfp_start|date:"Y-m-d"}}>
                        {% endwith %}
                        <span class="input-group-addon">to</span>
                        {% with form.cfp_end.value|default_if_none:"" as cfp_end %}
                        <input name="cfp_end" type="text" class="form-control" value={{cfp_end|date:"Y-m-d"}}>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Additional Information" %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="id_splash">{% trans "Splash Logo" %}</label>
                        {{ form.splash }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_icon">{% trans "Conference Icon" %}</label>
                        {{ form.icon }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_about">{% trans "About" %}</label>
                    {{ form.about }}
                </div>
                <div class="form-group">
                    <label for="id_venue">{% trans "Venue" %}</label>
                    {{ form.venue }}
                </div>
                <div class="form-group">
                    <label for="id_gps">{% trans "GPS Location" %}</label>
                    {{ form.gps }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <button class="btn btn-default" type="submit">
    {% if conf %}
        {% trans "Save Changes" %}
    {% else %}
        {% trans "Create Conference" %}
    {% endif %}
    </button>
</div>
</form>

</div>
{% endblock %}
{% block extrascripts %}
<script src="{% static 'confla/edit_conf.js' %}"></script>
<script class="js-setup">
var room_link = "{% url 'confla:create_room' %}"
</script>

{% endblock %}
