{% extends "confla/admin/admin_base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load confla_filters %}
{% block title %}Timetable{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/timetable.css' %}" />
<style type='text/css'>
    {% for tag in tag_list %}
    .tag{{tag.id}} {
        color: {{tag.fg_color}};
        background : {{tag.color}};
    }
    {% endfor %}
</style>
{% endblock %}

{% block admin_menu %}
    {% include "confla/admin/menu.html" with active="editschedule" %}
{% endblock %}
{% block bott_menu %}
    <div class="extra-buttons">
        <button class="btn btn-default btn-submit" type="buton" onclick="timetableSubmit('.table')" style="width:100%;">{% trans "Save" %}</button>
        <button class="btn btn-default" type="buton" onclick="timetableClear()" style="width:100%;">{% trans "Clear" %}</button>
        <button class="btn btn-default" type="buton" onclick="timetableAddAll()" style="width:100%;">{% trans "Add all" %}</button>
    </div>
    {% include "confla/sched_legend.html" %}
{% endblock %}

{% block extranav %}
<div id="event-bar">
    <h3>List of events</h3>
    <input id="filter_input" class="form-control input-sm" type="text" value="" placeholder="Filter" />
    <div class="list-group" id="event-list">
        {% for e in event_list %}
        <div class="event" event-id={{e.id}}>
            <div class="event-visible {{e|tag_class}}">
                <div>
                    <div class="notes">{{e.notes}}</div>
                    <div class="topic">{{e.topic}}</div>
                    <div class="speakers">
                        {% for speaker in e.speaker.all %}
                        <span class="speaker">
                            {{speaker.first_name}} {{speaker.last_name}}{% if not forloop.last %}, {% endif %}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pop-title"style="display:none">
                <span>{% trans "Edit event" %}</span>
                <span class="pop-close glyphicon glyphicon-remove"></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block admin_page %}

{% if not room_list %}

    <div class="alert alert-warning">
        <div class="alert-header">
            <i class="fa fa-exclamation-triangle fa-lg"></i>
            {% trans "Warning: check list of rooms, time of start, and time of end" %}
        </div>
    </div>


{% endif %}

<div class="spinnerwrap"><i style="text-align:center" class="fa fa-5x fa-spinner fa-spin"></i></div>
{% csrf_token %}
<div class="sched-wrap" style="display:none">
    {% for day in time_list %}
    <div class="day-wrap">
        <h4>{{ day.day }}</h4>
        <div id="dummy-wrap">
            <div class="table-dummy"></div>
        </div><!-- dummy-wrap -->
        <div id="table-wrap">
        <table class="table" tdelta={{conf.timedelta}}>
            <thead>
                <tr>
                    <th>{% trans "Time" %}</th>
                    {% for r in room_list %}
                    <th slot_len={{r.slot_len}}>{{ r.room.shortname }}</th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            {% for t in day.list %}
                <tr>
                    <td>{{ t.short }}</td>
                    {% for slot in t.slots %}
                    <td>
                        <div class="wrap">
                        {% if slot %}
                        {% for s in slot %}
                        <div class="item" style="top: {{ s|event_offset:t.dt}}" deltalen={{s.length|unlocalize}} data-toggle="popover">
                            <span class="start" style=" display:none">Starts at: {{s.get_start_time}}</span>
                            <span class="end" style=" display:none">Ends at: {{s.get_end_time}}</span>
                            {% if s.event_id %}
                            {% with e=s.event_id %}
                            <div class="event" event-id={{e.id}}>
                                <div class="event-visible {{e|tag_class}}">
                                    <div>
                                        <div class="notes">{{e.notes}}</div>
                                        <div class="topic">{{e.topic}}</div>
                                        <div class="speakers">
                                            {% for speaker in e.speaker.all %}
                                            <span class="speaker">
                                                {{speaker.get_fullname}}{% if not forloop.last %}, {% endif %}
                                            </span>
                                            {% endfor %}
                                        </div>
                                        <div>{{e.notes}}<div>
                                    </div>
                                </div>
                                <div class="pop-title"style="display:none">
                                    <span>{% trans "Edit event" %}</span>
                                    <i title="Close popup" class="pop-close fa fa-close fa-lg"></i>
                                    <i title="Move to event bar" class="pop-move-right fa fa-arrow-right"></i>
                                </div>
                            </div><!-- event -->
                            {% endwith %}
                            {% endif %}
                        </div><!-- item -->
                        {% endfor %}
                        {% else %}
                        <div class="item empty" deltalen="default" slot-id=0 data-toggle="popover">
                            <span class="start" style=" display:none">Starts at: {{t.short}}</span>
                            <span class="end" style=" display:none">Ends at: {{t.short}}</span>
                        </div><!-- item -->
                        {% endif %}
                    </div><!-- wrap -->
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div><!-- table-wrap -->
</div><!-- day-wrap -->
{% endfor %}
{% include_modal %}
<script class="js-setup">
var tags = {{ tag_list|safe }}
var users = {{ user_list|safe }};
//var form = '{{event_create.topic|escapejs}}{{event_create.description|escapejs}}{{event_create.speaker|escapejs}}{{event_create.tags|escapejs}}';
var form_action = "{% url 'confla:saveEvent' url_id %}";
var save_link = "{% url 'confla:saveTable' url_id %}"
var popover_link = "{% url 'confla:eventPop_admin' url_id %}"
var event_tag_link = "{% url 'confla:create_event_tag' %}"
</script>
</div><!-- sched-wrap -->
{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'confla/timetable.js' %}"></script>
<script type="text/javascript" src="{% static 'confla/eventedit.js' %}"></script>
{% endblock %}
