{% extends "confla/admin/admin_base.html" %}
{% load i18n %}
{% load static %}
{% load confla_filters %}
{% block title %}Import{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'confla/import.css' %}" />
{% endblock %}

{% block admin_menu %}
    {% include "confla/admin/menu.html" with active="import" %}
{% endblock %}

{% block admin_page %}
<div class="import-form">
    <div class="panel panel-default">
        <div class="confla-toggle panel-heading">JSON<i class="fa confla-caret fa-caret-down fa-lg"></i>
        </div>
        <div class="confla-togglable panel-body">
            <form class="json_form" action="{% url 'confla:json_import' url_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-default" type="submit">{% trans "Import" %}</button>
            </form>
        </div>
    </div>
</div>

{% if tag_count == 0 %}
<a class="btn btn-default" href="{% url 'confla:default_tags' %}">{% trans "Initialize tags" %}</a>
{% endif %}


{% endblock %}
{% block extrascripts %}
<script src="{% static 'confla/import.js' %}"></script>
{% endblock %}
