<div class="import-alerts">
    {% if users_created or events_created %}
    <div class="alert alert-success">
        <div class="alert-header">
            <i class="fa fa-check-circle fa-lg"></i>
            Events created: {{ events_created }}, users created: {{ users_created }}
        </div>
    </div>
    {% endif %}
    {% if users_modified or events_modified %}
    <div class="alert alert-success">
        <div class="alert-header">
            <i class="fa fa-check-circle fa-lg"></i>
            Events modified: {{ events_modified }}, users modified: {{ users_modified }}
        </div>
    </div>
    {% endif %}
    {% if users_skipped or events_skipped %}
    <div class="alert alert-warning">
        <div class="alert-header">
            <i class="fa fa-exclamation-triangle fa-lg"></i>
            Events skipped: {{ events_skipped }}, users skipped: {{ users_skipped }}
        </div>
    </div>
    {% endif %}
    {% if events_collisions %}
    <div class="alert alert-danger">
        <div class="confla-toggle alert-header">
            <i class="fa fa-exclamation-triangle fa-lg"></i>
            Event collisions: {{ events_collisions }}
            <i class="fa confla-caret fa-caret-down fa-lg"></i>
        </div>
        <div class="confla-togglable alert-body">
            {% for key, value in collision_log.items %}
            <div class="existing-events">
            {% for event in value.event_list %}
                <div class="existing-event">
                {% if event.timeslot %}
                    {{ event.timeslot.start_time|date:"D" }}, {{ event.timeslot.get_start_time }}:
                {% else %}
                    Not scheduled:
                {% endif %}
                {{ event.topic }}
                </div>
            {% endfor %}
            </div>
            <div class="colliding-events">
                <ul>
                {% for event in value.col_list %}
                <li>
                    {{ event.event_start_rfc}}: {{ event.topic }} |
                    <span class="js-link" onClick="import_event(this)">Create</span>
                    <div class="event-json">
                        {{ event|safe }}
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
