{% extends "confla/admin/admin_base.html" %}
{% load static %}
{% load i18n %}
{% load confla_filters %}
{% block title %}{% trans "Places" %}{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
<style>
#place_icon {
  float: left;
}
#place_name {
  float: left;
}
#place_description {
  clear: both;
}

</style>
{% endblock %}

    {% block admin_menu %}
        {% include "confla/admin/menu.html" with active="geo_points" %}
    {% endblock %}


{% block admin_page %}

<script>
  function choosePlace(lat, lon, name, description, icon) {
    map.setView([lat, lon]);
    $("#place_name").text(name);
    $("#place_description").html(description);
    $("#place_icon").attr('src', icon);
  }
</script>

<h2> {% trans "Places" %} </h2>

        <div id="map" style="width: 100%; height: 300px; border: 0; margin: 0;"></div>
        <script src={% static 'leaflet/leaflet.js' %}></script>
        <script type="text/javascript">
            map = new L.Map('map');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>; contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom:4, maxZoom: 18, attribution: osmAttrib});

            {% if places %}
                map.setView([{{ places.first.latitude }}, {{ places.first.longitude }}], 12);
            {% else %}
                map.setView([0,0], 12);
            {% endif %}
            map.addLayer(osm);

{% for place in places %}
            L.marker(
              [{{ place.latitude }},{{ place.longitude}}],
              {
                icon: L.icon({
                  iconUrl: "{{ place.icon.icon.url }}",
                  iconSize: [ {{ place.icon.icon.width }}, {{ place.icon.icon.height }} ],
                  iconAnchor: [{{ place.icon.xAnchor }}, {{ place.icon.yAnchor }}],
                })
              }
            ).addTo(map).on(
              'click', function() {
                choosePlace({{ place.latitude }},{{ place.longitude }}, '{{ place.name }}', '{{ place.description|linebreaksbr }}', '{{place.icon.icon.url}}')
              }
            );

{% endfor %}

        </script>

<br/>

<div class="col-md-6">
<ul>
{% for place in places %}
  <li> <a href="#" onclick="choosePlace({{ place.latitude }},{{ place.longitude }}, '{{ place.name }}', '{{ place.description|linebreaksbr }}', '{{place.icon.icon.url}}');"> {{ place.name }}</a> </li>
{% endfor %}
</ul>
</div>
<div class="col-md-6">
  <img id="place_icon" src="/static/leaflet/images/marker-icon.png" alt="marker" />
  <h3 id="place_name"> {% trans "Place" %}</h3>
  <p id="place_description"> {% trans "Choose place from list or from map" %}</p>

</div>


{% endblock %}

{% block extrascripts %}
{% endblock %}
